<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.google.android.gms" />
    </queries>

    <application
        android:name=".LibraryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Library Management"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibraryManagement">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.AdminHomeActivity" />
        <activity android:name=".activities.UserHomeActivity" />
        <activity android:name=".activities.ConfirmationActivity" />
        <activity android:name=".activities.CancelActivity" />
        <activity android:name=".activities.LogoutActivity" />
        <activity android:name=".activities.SeedDataActivity" />

        <activity android:name=".transactions.TransactionsActivity" />
        <activity android:name=".transactions.BookAvailableActivity" />
        <activity android:name=".transactions.SearchResultsActivity" />
        <activity android:name=".transactions.BookIssueActivity" />
        <activity android:name=".transactions.ReturnBookActivity" />
        <activity android:name=".transactions.PayFineActivity" />

        <activity android:name=".reports.ReportsActivity" />
        <activity android:name=".reports.MasterBooksActivity" />
        <activity android:name=".reports.MasterMoviesActivity" />
        <activity android:name=".reports.MasterMembershipsActivity" />
        <activity android:name=".reports.ActiveIssuesActivity" />
        <activity android:name=".reports.OverdueReturnsActivity" />
        <activity android:name=".reports.IssueRequestsActivity" />

        <activity android:name=".maintenance.MaintenanceActivity" />
        <activity android:name=".maintenance.AddMembershipActivity" />
        <activity android:name=".maintenance.UpdateMembershipActivity" />
        <activity android:name=".maintenance.AddBookActivity" />
        <activity android:name=".maintenance.UpdateBookActivity" />
        <activity android:name=".maintenance.UserManagementActivity" />

    </application>

</manifest>
